#threeJs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 1;
}

#sensorData {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: none;
    padding: 35px;
}

#zeroOrientation {
    margin-top: 1em;
    color: black;
}

#accelerometerGraph {
    position: fixed;
    left: 35px;
    bottom: 35px;
}

#gyroscopeGraph {
    position: fixed;
    right: 35px;
    bottom: 35px;
}
